{% extends "survey.html" %}

{% block surv %}
<div class="container mt-1">

    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-xs-11">
            <label for="name">Name: </label>
            <input id="name" type="text" class="form-control" name="name">
            <br>
            <label for="email">Email: </label>
            <input id="email" type="email" class="form-control" name="email">
            <br>
            <label for="brand">Brand: </label>
            <input id="brand" type="text" class="form-control" name="brand">
            <br>
            </div>
            
            <div class="col-xs-11 text-right">
            <button class="btn btn-primary" type="submit">ADD</button>
            <a href="{% url 'list' %}" class="btn btn-info">SHOW</a>    
            </div>
        </div>
    </form>
</div>
{% endblock %}