{% extends 'base.html' %}

{% block nav %}

<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Vaccines</a></li>
        <li class="active"><a href="{% url 'survey' %}">Survey</a></li>
        <li><a href="{% url 'us' %}">About Us</a></li>
    </ul>
</div>

{% endblock nav %}


{% block content %}

<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="https://covid19.who.int/region/wpro/country/ph" data-sf-ec-immutable="">STATISTICS</a></p>
            <p><a href="{% url 'list' %}">SHOW LIST</a></p>
        </div>

        <div class="col-sm-8 text-left"> 
            <h1><strong>RECORDS</strong></h1>
            <hr>

            <div class="container">
                <!--Search Function-->
                <form class="d-flex" method="POST" action="{% url 'search' %}">
                    <div class="col-xs-11">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search"
                                aria-label="Search" name="searched">
                        <br>
                    </div>
                    <div class="col-xs-11 text-right">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </form>      

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Brand</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for data in dataset %}
                            <tr>
                                <td>{{ data.id }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.email }}</td>
                                <td>{{ data.brand }}</td>
                                <td>
                                    <div class="col-xs-11 text-left">
                                        <a href="update/{{ data.id }}/" class="btn btn-sm btn-info">Edit</a>
                                        <a href="delete/{{ data.id }}/" class="btn btn-sm btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>   
                <a href="{% url 'create' %}" class="btn btn-info">ADD</a>
            </div>
        </div>

        <div class="col-sm-2 sidenav">
            <div class="well">
                <p style="color:red">GET YOUR COVID-19 VACCINE NOW</p>
            </div>
            <div class="well">
                <p>
                    Advertisement <br>
                    GET VACCINATED!!
                </p>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}