{% extends 'base.html' %}

{% block nav %}

<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About Vaccines</a></li>
    <li class="active"><a href="{% url 'survey' %}">Survey</a></li>
    <li><a href="{% url 'us' %}">About Us</a></li>
  </ul>
</div>

{% endblock nav %}

{% block content %}

<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="https://covid19.who.int/region/wpro/country/ph" data-sf-ec-immutable="">STATISTICS</a></p>
            <p><a href="{% url 'list' %}">SHOW LIST</a></p>
        </div>

        <div class="col-sm-8 text-left"> 
            <h1><strong>UPDATE</strong></h1>
            <hr>

            <div class="container mt-3">
                <form action = "" method = "POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-xs-11">
                            <label for="name">Name: </label>
                            <input id="name" type="text" class="form-control" name="name">
                            <br>
                            <label for="email">Email: </label>
                            <input id="email" type="email" class="form-control" name="email">
                            <br>
                            <label for="brand">Brand: </label>
                            <input id="brand" type="text" class="form-control" name="brand">
                            <br>
                        </div>
                        <div class="col-xs-11 text-right">
                            <a href="{% url 'list' %}" class="btn btn-primary" buttontype="submit">UPDATE</a>
                            <a href="{% url 'list' %}" class="btn btn-info">SHOW</a>    
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-2 sidenav">
            <div class="well">
            <p style="color:red">GET YOUR COVID-19 VACCINE NOW</p>
            </div>
            <div class="well">
            <p>
                Advertisement <br>
                GET VACCINATED!!
            </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}

